etext==0.0.1
Flask==2.3.2
Flask-Cors==4.0.0
python_amazon_sp_api==0.18.8
pytz==2024.1
Requests==2.31.0
python-dotenv==1.0.1
schedule==1.2.2
pandas==2.0.3
gunicorn==22.0.0
firebase-admin==6.2.0
google-cloud-firestore==2.12.0
numpy==1.25.2
