
/* Outer most div containing everything called .App  with solid full background not moving*/
.App {
  display: inherit;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;  
  /* no scroll */
  overflow: hidden;
  /* white edges hidden */
  margin: 0;
  padding: 0;
  /* no scroll bars */
}

/* .App {
  display: inherit;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;  
} */

.App-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  color:whitesmoke;
}

header a {
  background-color: #282c34;
  display: flex;
  min-height: 25%;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  text-decoration: none;
  color: greenyellow;
  font-weight: 500;
  font-size: x-large;
}


div .App-link {
  display: flex;
  flex-direction: row;
  /* all content fits on screen */
  flex-wrap: nowrap;
  /* center content */
  justify-content: space-between;
  align-items: center;
  padding: auto;
  /* scroll horizontal */
  overflow-x: auto;
  width: 100%;
}

.App-link h7 {
  /* border around each header */
  border: 1px solid greenyellow;
  /* even padding */
  padding: 10px;
  /* margin between each header */
  margin: 10px;
  /* even min-heights */
  min-height: 50px;
  /* even heights */
  height: 100px;
  /* min width of box size */
  min-width: 100px;
  /* even widths */
  width: 100px;
  /* border radius */
  border-radius: 5px;
  /* background color */
  background-color: #1b1d21;
  
}

/* .App-link contains all of the data in a navbar type of way*/
.App-link {
  white-space: pre-wrap;  
  overflow-x: auto;
  display: inline-flex;
  color: #61dafb;
}
.App-link-values {
  color: greenyellow;
  font-weight: 500;
  font-size: medium;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
